body {
    height: 100vh;
    margin: 0;

}

div {
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
}

p {
    font-size: 3vw;
}


#caja1 {
    background-color: #FFA500;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#caja2 {
    background-color: #FFA500;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
#caja3 {
    background-color: #FFA500;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
#caja4 {
    background-color: #FFA500;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}


#caja1_1 {
    height: 100px;
    width: 100px;
    background-color: #008000;
}