* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: large;
}

div {
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}


input {
    background-color: transparent;
    margin-right: 8px;
    margin-left: 8px;
}

.CNT_column {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: start;
    display: flex;
    flex-direction: column;
}


.CNT_row {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#adressID {
    padding: 20px;
}
#lbl_adress {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-right: 150px;
}
.btn_submit {
    height: 12%;
    width: 47%;
    display: flex;
    justify-content: end;
    align-items: center;
}