* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: large;
}

div {
    display: flex;
    box-sizing: border-box;
}


input {
    margin-right: 8px;
    margin-left: 8px;
}

table {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
}

td {
    padding: 10px;
}
textarea {
    width: 100%;
    height: 60px;
    margin-top: 8px;
    resize: vertical;
}

.CNT_column {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: start;
    display: flex;
    flex-direction: column;
}


.CNT_row {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#titulo {
    text-align: center;
    font-size: xx-large;
}