* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
}

p {
    font-size: 0.9rem;
    text-align: justify;
    color: white;
}

h1,
h2,
h3 {
    color: red;
    text-align: center;
    font-weight: bold;

}

h1 {
    font-size: 3rem;
    letter-spacing: 6rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1rem;
    text-decoration: underline;
}

span {
    font-size: 5rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}


header {
    height: 40%;
    width: 100%;
    background-image: url('https://revistakinemabooks.com/wp-content/uploads/2025/12/captura-de-pantalla-2025-12-19-093533.png');
    background-size: cover;
    background-position: center;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header nav {
    width: 100%;
    height: 15%;
}

header>nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    font-weight: bold;

}

main {
    height: 55%;
    width: 100%;
    background-image: url('https://images4.alphacoders.com/104/thumb-1920-1049412.jpg');
    background-size: cover;
    border-top: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main>section {
    height: 100%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main>section>article {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

main>section>article form {
    display: block;
    width: 100%;
}



footer {
    height: 5%;
    width: 100%;
    background-color: black;
}

footer>nav {
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-articulo {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 20px;
}

table {
    width: 80%;
    height: 100%;
    border: 0;
    margin: 0 auto 20px;
    color: white;
}

table td {
    text-align: center;
    padding: 0.6rem;
    border: 0;
}

#input-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    width: 70%;
    padding: 0.2rem;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px 0;
}

main>section>article ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

label {
    font-size: 1.2rem;
    color: white;
    margin-top: 0.5rem;
}

select,
option {
    font-size: 1rem;
    color: black;
}

footer>nav>ul {

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-weight: bold;
}
footer>nav>ul a {
    font-size: 0.9rem;
}

#botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
    gap: 10rem;
}