* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

div {
    display: flex;
    box-sizing: border-box;
    border: 2px solid black;

}



table {
    width: 90%;
    border: 3px solid #666;
    margin: 20px auto ;
}

td {
    border: 2px solid #000;
    padding: 40px;
    text-align: center;
    font-size: 24px;
}

th {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

#titulo{
    background-color: #63925C;
    color: white;

}
#nombre {
    background-color: #FBC28D;
    color : black;
}

#subnombre {
    background-color: #FBFA8D;
}

a{
    text-decoration: none;
    color: white;
}
