* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #FFFCE9;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
    border-bottom: 3px solid #0B2C35;
}

header>nav {
    height: 100%;
    width: 100%;
}

header>nav>ul {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1rem;
}

main {
    width: 100%;
    height: 70%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main>section.sect_1 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: jistify;
}

main>section.sect_1>article.img-mountain {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main>section.sect_1>article.img-mountain img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

main>section.sect_1>article.texto {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-around;
    background-color: #0B2C35;
}

#texto {
    margin-top: 60px;
    margin-left: 50px;
}

#texto>h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

#texto>h3 {
    color: orange;
    font-size: 1rem;
    margin-bottom: 20px;
}

#texto>p {
    margin-top: 100px;
    color: gainsboro;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 80%;
}


main>section.sect_2 {
    width: 100%;
    height: 30%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main>section.sect_2>article {
    margin-top: 40px;
    margin-bottom: 20px;
}

main>section.sect_2>article.bosque {
    height: 100%;
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

main>section.sect_2>article.moto {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

main>section.sect_2>article.moto img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

main>section.sect_2>article.bosque img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

footer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color: #0B2C35;
    color: gainsboro;
}

footer>nav {    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}


footer>nav> ul {
    margin-left: 70%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}