* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: large;
}

div {
    display: flex;
    box-sizing: border-box;
}


input {
    margin-right: 8px;
    margin-left: 8px;
}

table {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
}

td {
    padding: 10px;
}
textarea {
    width: 100%;
    height: 60px;
    margin-top: 8px;
    resize: vertical;
}
#titulo {
    background-color: #CCCCFF;
    text-align: center;
    font-weight: bold;
    color: black;
}
#submit_button {
    color: black;
    margin: 10px auto;
}